body {
  background-color: rgb(0, 0, 0);
    text-align: center;
    transition-duration: 10ms;
}

h1 {
  text-align: center;
  color: rgb(1, 5, 255);
    transition-duration: 10ms;
}
h2 {
  text-align: center;
  color: rgb(98, 255, 1);
    transition-duration: 10ms;
}
h3 {
  text-align: center;
  color: rgb(98, 255, 1);
    transition-duration: 10ms;
}

p {
  text-align: center;
  color: rgb(218, 226, 112);
    transition-duration: 10ms;
}

a {
  text-align: center;
  color: rgb(148, 251, 64);
    transition-duration: 10ms;
}

select {
  text-align: center;
}

.main-div {
  padding: 10px;
  margin-top: 20px;
  background-color: #f5f5f5;
  color: #ffcc00;
}

img {
  max-width: 300px;
  margin-top: 10px;
}

.old-div {
  margin-top: 20px;
  background-color: hsl(0, 0%, 88%);
  padding: 10px;
}

div {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color: #007bff;
}

video {
  position: fixed;
  left: 0;
  top: 0;
  height:100%;
  z-index: -1;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
}

ul {
  margin-top: 15px;
  text-align: center;
}

li {
  margin-top: 10px;
  text-align: center;
  border: #f5f5f5;
  color:rgb(148, 251, 64)
}

a {
  margin-top: 10px;
  text-align: left;
  border: #f5f5f5;
  color:rgb(148, 251, 64)
}

#dropzone {
  border: 2px dashed #ccc;
  padding: 10px;
  text-align: center;
  margin-top: 10px; 
}

#draggable  {
  width: 100px;
  height: 100px;
  background-color: #ffcc00;
  color: #ffffff;
  padding: 10px;
  cursor: move;
}